<div class="row text-center">
    <h2>Ngrx - Videojuego</h2>
</div>


<div id="container" class="text-center">
    <canvas #canvas width="800" height="600"></canvas>
</div>

<div class="text-center mt-5">
    <button class="btn btn-primary" (click)="normal()">Normal</button>
    <button class="btn btn-primary" (click)="speed(2)">Speed(2)</button>
    <button class="btn btn-primary" (click)="slow(0.5)">Slow(0.5)</button>

    <h4>Velocidad: {{speed$ | async}}</h4>
</div>

<div class="text-center mt-5">
    <button class="btn btn-primary" (click)="getApiData()">getApiData</button>
    <button class="btn btn-primary" (click)="getError()">getError()</button>

</div>